<div>
    <h2>Lista korisnika</h2>
    <br>
    <div *ngIf="msg" class="alert alert-success">Korisnik je obrisan.</div>
    <div *ngFor="let user of users" class="bg-dark mb-2" style="border: solid white 1px;">
        <img src="{{user.picture}}" style="width: 100px; height: 100px;" alt="Nema">
        <span class="ml-5">{{user.username}}</span>
        <button (click)="deleteUser(user._id)" class="float-right mt-4 mr-5 btn btn-outline-danger"><i class="fa fa-trash" aria-hidden="true"></i> Obriši</button>
    </div>
</div>