<form class="text-center" ngNativeValidate>  
  <div class="alert alert-success" role="alert" *ngIf="msg">
    Sačuvano
  </div>
  <div class="form-group col-12">
      <label for="titleInput" class="control-label">Naslov:</label>
      <input type="text" class="form-control text-light" style="background-color: black;" id="titleInput" aria-describedby="titleHelp" placeholder="Unesi naslov..." name="title" [(ngModel)]="title" required>
    </div>
    <div class="form-group col-12">
      <label for="textInput">Tekst:</label>
      <textarea class="form-control text-light" style="background-color: black;" id="textInput" placeholder="Unesi tekst..." name="text" [(ngModel)]="text" required></textarea>
    </div>
    <div class="form-group col-12">
        <label for="markInput">Ocjena:</label>
        <input type="number" min="1" max="10" class="form-control text-light" style="background-color: black;" id="markInput" name="mark" [(ngModel)]="mark" required value="5">
      </div>
    <hr>
    <button type="submit" class="btn btn-outline-success" (click)="saveReview()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Objavi</button>
</form>
<br>