<div class="col-12 text-center">
    <h1><u>O nama</u></h1>
</div>
<br><br>
<div class="row">
    <div class="col-6 text-center">
        <h3><u>Opis</u></h3>
        <br>
        <p>Neki tekst</p>
        <br>
    </div>
    <div style="border: solid white 1px;" class="col-5">
        <h3><u>Kontakt</u></h3>
        <br>
        <div class="">
            <ul>
                <li><b>Broj telefona: </b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; +382 69 123 123</li>
                <li><b>E-mail: </b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; admin@novel.com</li>
                <li><b>Adresa: </b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; BB</li>
            </ul>
        </div>
        <br>
    </div>
</div>