<form class="text-center" ngNativeValidate>
    <h3><u>Prijava</u></h3>
    <hr>
    <div class="form-group col-12">
      <label for="emailInput" class="control-label">Email adresa:</label>
      <input type="email" class="form-control text-light" style="background-color: black;" id="emailInput" aria-describedby="emailHelp" placeholder="Unesi email..." name="email" [(ngModel)]="email" required>
      <br>
      <span class="alert alert-danger" role="alert" *ngIf="emailError">
        Email ne postoji!
      </span>
    </div>
    <div class="form-group col-12">
      <label for="passwordInput">Lozinka:</label>
      <input type="password" class="form-control text-light" style="background-color: black;" id="passwordInput" placeholder="Unesi lozinku..." name="password" [(ngModel)]="password" required>
      <br>
      <span class="alert alert-danger" role="alert" *ngIf="passwordError">
        Pogrešna lozinka!
      </span>
    </div>
    <hr>
    <button type="submit" class="btn btn-outline-success" (click)="login()"><i class="fa fa-sign-in" aria-hidden="true"></i> Prijavi se</button>
    <br><br>
    <a class="text-light" href="/register">Registruj se.</a>
</form>
<br><br>